html {
  margin: 0;
}

span {
  display: block;
}

.canvas {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
}

#grey {
  background-color: grey;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: rgb(226, 229, 55);
}
#red {
  background-color: rgb(239, 99, 34);
}
#purple {
  background-color: rgb(205, 34, 239);
}
